@font-face {
        font-family: gil;
        src: url(Gilroy-Bold.ttf);
    }

    *{
        font-family: gil;
    }

    body{
        background: linear-gradient(to right ,blue 1px,transparent 1px),
        linear-gradient(to bottom,blue 1px,transparent 1px);
        background-size: 80px 80px;
    }

    .user{
        height: 80px;
        width: 300px;
        background-color: rgb(16, 63, 59);
        color: greenyellow;
        border: 2px  solid rgb(219, 162, 162);
        border-radius: 50%;
        display: inline;
        position: absolute;
        top:4%;
        left: 4%;
        padding-top: 1.5vw;
        text-align: center;
    }